* {
  font-family: sans-serif;
  color: #ffff;
}

body {
  background-color: rgb(10, 14, 2);
}

.app-title {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}